.carte{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 10; */
}

p{
    color: blanchedalmond;
    font-size: 2em;
    margin-left: 10px;
}

img{
    height: 5em;
    border-radius: 50%;
}

