body {
    margin: 10px;
    /* border: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

div {
    width: 640px;
    height: 360px;
    border: black 2px solid;
    background-color: transparent;
}